@import "utils/variables";
@import "utils/mixins";

body{
    margin: auto;
    width: 80%;
    @include desktop{
        width: 30%;
    }
}

.bloc-calculator{
    height: 500px;
    margin-top: 30px;
    border: 2px solid $color-black;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .screen{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;        
        textarea{
            box-shadow: none;
            resize: none;
            padding-top: 10px;
            padding-right: 10px;
            text-align: right;
            height: 200px;
            width: 90%;
            color: $color-white;
            border: 2px solid darken($color-blue, 30%);
            background-color: $color-black;
            border-radius: 10px;     
        }
    }
    .bloc-sub{
        display: flex;
        height: 270px;
        width: 90%;
        .bloc-numeric{
            width: 100%;
            height: 270px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .bloc-sub-numeric{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                width: 100%;
                @include desktop{
                    width: 90%;
                }
            }
            .bloc-0{
                display: flex;
                width: 100%;
                justify-content: space-around;
                @include desktop{
                    width: 90%;
                }
            }

        }
        .bloc-operation{
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            width: 20%;
            @include desktop{
                width: 30%;
            }
        }
    }
    .btn{
        border: 2px solid darken($color-blue, 30%);
        background-color: $color-blue;
        color: $color-white;
        font-size: 1em;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: background-color, 0.5s;
        &:hover{
            background-color: rgba(44, 44, 248, 0.3);
        }
    }
    .btn#clear{
        font-size: 0.9em;
    }
}