@import "utils/variables";

body{
    margin: auto;
    width: 80%;
}

.bloc-calculator{
    height: 500px;
    margin-top: 30px;
    border: 2px solid darken($color-grey, 30%);
    background-color: $color-grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .screen{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;        
        textarea{
            margin-top: 20px;
            height: 110px;
            width: 90%;
            border: 2px solid darken($color-grey, 30%);
            background-color: $color-black;
            border-radius: 10px;           
        }
    }
    .bloc-sub{
        display: flex;
        height: 270px;
        width: 90%;
        .bloc-numeric{
            width: 100%;
            height: 270px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .bloc-sub-numeric{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                width: 100%;
            }
            .bloc-0{
                display: flex;
                width: 100%;
                justify-content: space-around;
            }

        }
        .bloc-operation{
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            width: 20%;
        }
    }
    .btn{
        border: 2px solid darken($tertiary-color, 30%);
        background-color: $tertiary-color;
        color: $color-white;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        
    }
    .btn.numb{
        background-color: lighten($primary-color, 20%);
        border: 2px solid $primary-color;
        color: $color-white;
        font-size: 1em;
    }

}