body {
  margin: auto;
  width: 80%;
}

.bloc-calculator {
  height: 500px;
  margin-top: 30px;
  border: 2px solid #000000;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.bloc-calculator .screen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bloc-calculator .screen textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
  padding-top: 10px;
  padding-right: 10px;
  text-align: right;
  height: 200px;
  width: 90%;
  color: #ffffff;
  border: 2px solid #040487;
  background-color: #000000;
  border-radius: 10px;
}
.bloc-calculator .bloc-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 270px;
  width: 90%;
}
.bloc-calculator .bloc-sub .bloc-numeric {
  width: 100%;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bloc-calculator .bloc-sub .bloc-numeric .bloc-sub-numeric {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.bloc-calculator .bloc-sub .bloc-numeric .bloc-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.bloc-calculator .bloc-sub .bloc-operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
}
.bloc-calculator .btn {
  border: 2px solid #040487;
  background-color: #2c2cf8;
  color: #ffffff;
  font-size: 1em;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}
.bloc-calculator .btn:hover {
  background-color: rgba(44, 44, 248, 0.3);
}
.bloc-calculator .btn#clear {
  font-size: 0.9em;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Nhc3Mvc3R5bGUuc2NzcyIsIi4uL3N0eWxlLmNzcyIsIi4uLy4uL3Nhc3MvdXRpbHMvX3ZhcmlhYmxlcy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUVBO0VBQ0ksWUFBQTtFQUNBLFVBQUE7QUNESjs7QURJQTtFQUNJLGFBQUE7RUFDQSxnQkFBQTtFQUNBLHlCQUFBO0VBQ0EseUJFVlU7RUZXVixvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0EseUJBQUE7TUFBQSw2QkFBQTtBQ0RKO0FERUk7RUFDSSxXQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw0QkFBQTtFQUFBLDZCQUFBO01BQUEsMEJBQUE7VUFBQSxzQkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtBQ0FSO0FEQ1E7RUFDSSx3QkFBQTtVQUFBLGdCQUFBO0VBQ0EsWUFBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxpQkFBQTtFQUNBLGFBQUE7RUFDQSxVQUFBO0VBQ0EsY0U3QkU7RUY4QkYseUJBQUE7RUFDQSx5QkU5QkU7RUYrQkYsbUJBQUE7QUNDWjtBREVJO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSxhQUFBO0VBQ0EsVUFBQTtBQ0FSO0FEQ1E7RUFDSSxXQUFBO0VBQ0EsYUFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsNEJBQUE7RUFBQSw2QkFBQTtNQUFBLDBCQUFBO1VBQUEsc0JBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsOEJBQUE7QUNDWjtBREFZO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw4QkFBQTtFQUFBLDhCQUFBO01BQUEsK0JBQUE7VUFBQSwyQkFBQTtFQUNBLHlCQUFBO01BQUEsNkJBQUE7RUFDQSxXQUFBO0FDRWhCO0FEQVk7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLFdBQUE7RUFDQSx5QkFBQTtNQUFBLDZCQUFBO0FDRWhCO0FERVE7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsOEJBQUE7TUFBQSxrQ0FBQTtVQUFBLDhCQUFBO0VBQ0EscUJBQUE7TUFBQSxrQkFBQTtVQUFBLHlCQUFBO0VBQ0EsVUFBQTtBQ0FaO0FER0k7RUFDSSx5QkFBQTtFQUNBLHlCRWhFSztFRmlFTCxjRXBFTTtFRnFFTixjQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7RUFDQSxtQkFBQTtFQUNBLG1CQUFBO0VBQ0EsZUFBQTtFQUNBLDBDQUFBO0VBQUEscUNBQUE7RUFBQSxrQ0FBQTtBQ0RSO0FERVE7RUFDSSx3Q0FBQTtBQ0FaO0FER0k7RUFDSSxnQkFBQTtBQ0RSIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */